<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="private_key_id" value="616045b100a99ba22ed7d7c667d70b6c75b7568d" />
    <add key="client_email" value="image-storage@reliable-proton-109011.iam.gserviceaccount.com" />
    <add key="auth_uri" value="https://accounts.google.com/o/oauth2/auth" />
    <add key="token_uri" value="https://accounts.google.com/o/oauth2/token" />
    <add key="auth_provider_x509_cert_url" value="https://www.googleapis.com/oauth2/v1/certs" />
    <add key="client_x509_cert_url" value="https://www.googleapis.com/robot/v1/metadata/x509/image-storage%40reliable-proton-109011.iam.gserviceaccount.com" />
  </appSettings>
</configuration>