
@{
    ViewBag.Title = "Gallery";
}

<h2>Gallery</h2>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" ng-repeat="item in main.gallery" data-slide-to="{{item.num}}" ng-class="item.className"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div ng-repeat="item in main.gallery" class="item" ng-class="item.className" style="margin: auto; width: 60%;">
            <img ng-src="{{item.src}}" alt="" style="height: 600px;">
            <div class="carousel-caption">
                {{item.name}}
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>